.dialog
  position absolute
  z-index 300
  top 0
  left -50%
  width 500px
  background #f0f0f0
  border-radius 5px
  transition all 0.5s cubic-bezier(0.18, 0.96, 0.19, 1.11)
  padding 30px
  transform translateX(-50%)
  
  
