.dynamic
  display flex
  justify-content space-between
  button
    padding 0 20px
    font-size 20px
    margin-bottom 20px
    background #CE5C60
    color white
    border 0
    cursor pointer
    &:hover
      background lighten(#CE5C60, 5)